= render "/layouts/navbar"
.bg-image--wood
  .container-fruid.search.bg-light
    .container
      .row
        .col-lg-8.mx-auto
          .search-box.my-3
            = form_with model: Sighting.new, method: :get, local: true do |f|
              = f.text_field :keyword, class: "form-control my-3", required: true
              //= f.collection_check_boxes :sightings, Sightings.all
              = f.submit "検索", class: "btn btn-primary btn-block"
  .container.container__search-result
    .row
      .col-lg-12.mt-4
        .row
        - if @sightings.present?
          = render @sightings
    .footer.fixed-bottom
      .container
        = button_to "情報提供する", new_sighting_path, method: :get, class: "nav-item btn btn-primary mb-2 mr-2 float-right"

