.card.h-100
  .image-box.p-2
    = image_tag "cat001.jpg", class: "card-img-top"
  .card-body
    %h5.card-title
      %a{href: post_path(@post)}= @post.title
    %h6 #{@post.lost_place}
    %p.m-0 お名前: #{@post.name}
    %p.m-0 #{@post.lost_date.strftime("%Y年 %-m月 %-d日")}
