= render "/layouts/navbar"
.be-image.bg-gray-wall
  .container.container__main
    .row
      .card.col-lg-6.col-md-8.mx-auto.my-3
        .card-body
          %h1.text-center 張り紙を編集
          %hr
          = form_with model: @post do |f|
            .form-group
              = f.label :タイトル
              %br/
              = f.text_field :title, class: "form-control"
            .form-group.hidden
              = f.label :お写真
              %br/
              = f.file_field :image, class: "form-control-file", id: "imageFile"
            .form-group
              = f.label :お名前
              %br/
              = f.text_field :name, class: "form-control"
            .form-group
              = f.label :"いなくなった場所・最後に見た場所"
              %br/
              = f.text_field :lost_place, class: "form-control"
            .form-group
              = f.label :"詳しい場所"
              %br/
              = f.text_field :address, class: "form-control", id: "addressField"
            #map.mb-2
            .form-group
              = f.label :詳細
              %br/
              = f.text_area :detail, class: "form-control", rows: 3
            .form-group
              = f.submit "張り紙をする", class: "btn btn-primary btn-block btn-lg"
