= render "/layouts/navbar"
.bg-gray-wall
  .container.container__main
    .row
      .col-12.col-lg-8.mx-auto.my-5
        .card.bg-paper
          .card-body
            %h1.card-title.text-center.mb-3.text-danger= @post.title
            - if @post.image.present?
              = image_tag @post.image.url, class: "img-thumbnail", "data-lat": @post.latitude, "data-lng": @post.longitude
              .card-text.mt-2
                .row.mb-3
                  .col-4.col-md-3
                    %h5 場所:
                    %h5 お名前:
                    %h5 いつから:
                    %h5 詳細:
                    %h5 地図:
                  .col-8.col-md-8
                    %h5= @post.lost_place
                    %h5= @post.name
                    %h5= @post.lost_date.strftime("%Y年 %-m月 %-d日")
                    %p= @post.detail
                = button_to "近くの情報を探す", post_path(@post), {remote: true, method: :get, "data-type": "json", format: "json", class: "btn btn-primary mb-2", id: "geo-search"}
                #map.mb-2{"data-latitude": @post.latitude, "data-longitude": @post.longitude}
                - if current_user.id == @post.user_id
                  = link_to "編集", edit_post_path(@post), class: "card-link"
                  = link_to "削除", "/posts/#{@post.id})", method: :delete, class: "card-link"

